<!DOCTYPE html>

<html>
    <head>
        <meta charset="UTF-8">
        <title>Motorcycle seniment analysis</title>
        <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}">
    </head>
    <body>
        <br>
        <form action="home" method="post">
                <p>There is no discussion about the key-phrase(bike name) 
                    you entered in the subreddit in the given time-frame</p>
            <br>
            <input type="submit" value="Try another" id="home">
        </form> 
    </body>
</html>